flask
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
wtforms-sqlalchemy
python-dotenv
email-validator
# PDF Generation & Word Templates
weasyprint
xhtml2pdf
docxtpl
# Production Support
gunicorn
psycopg2-binary
waitress
# Utils
markdown2
openpyxl
pandas
num2words
bleach
# Flask Extensions
Flask-Mail
Flask-Limiter
simpleeval
